* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.main {
    width: 100% !important;
    background: #212121;
}

.navbar-toggler {
    border: 0 !important;
}

.nav-item {
    position: relative !important;
}

.nav-item::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    /* background-color: #f2470e; */
    background-color: rgb(245, 101, 57);
    transition: width 0.3s ease-in-out;
}

.nav-item.active::after,
.nav-item:hover::after {
    width: 100%;
}

.show .nav-item {
    position: relative !important;
    font-weight: bold !important;
    /* border: 2px solid #C741FC !important; */
    border: 2px solid rgb(245, 101, 57) !important;

    border-radius: 30px !important;
    margin-top: 20px;
}

.show .nav-link {
    color: rgb(245, 101, 57) !important;
}

.show .nav-item.active::after,
.show .nav-item:hover::after {
    width: 0% !important;
}

.show .nav-item:hover {
    background: rgb(245, 101, 57) !important;
}

.show .nav-link:hover {
    color: black !important;
}

.offcanvas.show:not(.hiding),
.offcanvas.showing {
    transform: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.fa-xmark {
    position: relative !important;
    top: 10px;
    left: 150px !important;
}

.fa-bars:hover {
    color: rgb(245, 101, 57) !important;
}

.fa-xmark:hover {
    color: #fff !important;
}

.containerleft {
    background: rgb(245, 101, 57) !important;
    height: 100vh !important;
}

.container-right {
    display: flex !important;
    align-items: center !important;
    justify-content: end !important;
    padding-right: 70px !important;
    background: #212121;
    flex-wrap: wrap !important;
}

.heading {
    color: #eaeaea !important;
    opacity: 0.8 !important;
}

.p {
    color: rgb(234, 234, 234)!important;
    opacity: 0.8 !important;
}

.row {
    --bs-gutter-x: 0 !important;
}

.content {
    padding-right: 0 !important;
}

.header-img {
    position: absolute !important;
    left: 20% !important;
    top: 20% !important;
    /* width: auto !important; */
}

.download-btn {
    border: 3px solid rgb(245, 101, 57);
    border-radius: 30px !important;
    color: rgb(245, 101, 57);
}

.download-btn:hover,
.contact-btn:hover {
    background: #fff !important;
}

.contact-btn {
    background: rgb(245, 101, 57) !important;
    border-radius: 30px !important;
}

.linestyling {
    padding: 50px 100px !important;
}

.circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(245, 101, 57) !important;
}

.line {
    width: 90%;
    height: 7px;
    border-radius: 10px;
    background-color: rgb(245, 101, 57) !important;
}

.about {
    height: 100vh !important;
}

.education-item {
    background:  #f565394d ;
    border-radius: 25px !important;
    animation: toBottom 2s ease-out;
    
    transform: translate3d(0px, 100%, 0px);
}


#designation{
    color: #f56539;
    font-size:'30px';
}
.about-desc{
    animation: slideleft 2s ease-out;
}
.about-heading{
    animation: slideright 2s ease-out;
}
@keyframes toBottom {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes slideleft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes slideright {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

.edu-img {
    width: 70px;
    height: 70px;
    background: #fff !important;
    border-radius: 50% !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-graduation-cap {
    font-size: 40px !important;
    color:  rgb(245, 101, 57)  !important;
}

.skill-container {
    overflow: hidden !important;
    min-height: 600px !important;
}

.skill {
    width: 160px;
    height: 160px;
    padding: 35px !important;
    margin: 40px !important;
    background: transparent !important;
    box-shadow: 3px 3px 20px rgb(255, 118, 77) !important;
    display: flex !important;
    gap: 10px !important;
    flex-direction: column !important;
    align-items: center;
    justify-content: center;
    color: #fff !important;
    border-radius: 15px !important;
}

.logos {
    padding: 20px 0 !important;
    white-space: nowrap;
    position: relative !important;
}

.logos::before,
.logos::after {
    content: '' !important;
    position: absolute !important;
    top: 0 !important;
    width: 50px !important;
    height: 100% !important;
    z-index: 3;
    background: #212121 !important;
}

.logos::before {
    left: 0 !important;
}

.logos::after {
    right: 0 !important;
}

.logos-slide {
    margin: 100px 0 !important;
    display: flex !important;
    animation: 10s slide infinite linear;
}

.logos:hover .logos-slide {
    animation-play-state: paused !important;
}

.logos-slide .skill {
    margin: 0 40px !important;
}

.skill:hover .skill-slide {
    cursor: pointer !important;
    animation-play-state: paused !important;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.projects {
    border-radius: 20px !important;
    position: relative !important;
    overflow: hidden !important;
    border: 0 !important;
    outline: none !important;
}

.projects img {
    border-radius: 10px !important;
    transition: transform 0.5s;
    cursor: pointer;
}

.layer {
    width: 100% !important;
    height: 0 !important;
    background: linear-gradient(rgba(0, 0, 0, 0.6),rgb(255, 118, 77));
    position: absolute !important;
    left: 0 !important;
    bottom: 0 !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    font-size: 14px !important;
    padding: 0 40px !important;
    text-align: center !important;
    transition: height 0.5s !important;
    overflow: hidden !important;
    color: #fff !important;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 15px;
}

.layer a {
    margin-top: 20px;
    color: rgb(255, 118, 77) !important;
    font-size: 20px;
    background: #fff !important;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
}

.projects:hover img {
    transform: scale(1.1) !important;
}

.projects:hover .layer {
    height: 100% !important;
}

.form-floating input,
.form-floating textarea {
    background: #262626 !important;
    outline: none !important;
    color: #fff !important;
    border: 3px solid #f56539cc;
}

::placeholder {
    color: #fff !important;
}

.icon-div {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #f56539 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-div i {
    font-size: 28px !important;
}

.social-icons a {
    margin: 30px 20px !important;
    font-size: 32px !important;

}

.social-icons i {
    font-size: 35px !important;
    color: #f56539 !important;
    transition: all 0.5s linear !important;
}

.social-icons i:hover {
    transform: translateY(-10px) !important;
}

.submit-btn {
    width: 150px !important;
    padding: 15px !important;
    outline: none !important;
    background: #f56539 !important;
    border-radius: 30px;
    color: #fff !important;
}

.copyright {
    height: 60px !important;
    padding: 20px 0 !important;
    background: #232530 !important;
}


@media (max-width:1240px) {
    .header-img {
        width: 300px !important;
        height: 300px !important;
        top: 30% !important;
    }
}

@media (max-width:1120px) {

    .container-right .content {
        width: 50% !important;
        padding-top: 100px !important;
    }

    .buttons {
        flex-direction: column !important;
    }

    .skill-container {
        height: 100vh !important;
    }

}

@media (max-width:952px) {
    .header-img {
        width: 180px !important;
        height: 180px !important;
        top: 35% !important;
        left: 23% !important;
    }

    .about-img img {
        margin-top: -60px !important;
    }

    .education-img img,
    .about-img img {
        width: 300px !important;
        height: 300px !important;
    }
}

@media (max-width:769px) {
    .containerleft {
        height: 300px !important;
    }

    .header-img {
        border: 8px solid #212121 !important;
        left: 50% !important;
        top: 44% !important;
        transform: translate(-50%, -50%) !important;
    }

    .container-right {
        justify-content: center !important;
        padding-right: 0 !important;
    }

    .container-right .content {
        width: 90% !important;
    }

    .container-right .heading,
    h1,
    p {
        text-align: center !important;
    }

    .linestyling {
        padding: 20px !important;
    }

    .line {
        height: 3px !important;
    }

    .circle {
        width: 5px;
        height: 5px;
    }

    .about-img,
    .education-img {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .contact .row {
        padding: 0 48px !important;
    }

    .icons-container,
    .social-icons {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .submit-btn {
        display: block !important;
        margin: 0 auto !important;
    }

    .about-description h1 {
        margin-top: 90px !important;
    }
    .about-img{
        display: none !important;
    }


}


@media (max-width:567px) {
    .logos-slide .skill {
        margin: 0 10px !important;
    }

    .education-item .edu-img {
        width: 60px !important;
        height: 60px !important;
    }

    .fa-graduation-cap {
        font-size: 30px !important;
    }

    .skill {
        width: 130px;
        height: 130px;
        padding: 20px !important;
        margin: 10px !important;
    }

    .skill img {
        width: 60px !important;
        height: 60px !important;
    }

    .logos {
        padding: 20px 0 !important;
        white-space: nowrap;
        position: relative !important;
    }

    .logos::before,
    .logos::after {
        top: 0 !important;
        width: 20px !important;
    }

    .cards {
        padding: 0 30px !important;
    }

    .eheading {
        font-size: 40px !important;
    }

    .about-description p {
        font-size: 14px !important;
    }

    .about-description h1 {
        margin-top: 40px !important;
    }

    .icons {
        padding: 0 10px !important;
    }
}

/* education-items */
.education-item{
    animation-fill-mode: both;
    animation-duration: 1000ms;
    animation-delay: 0ms;
    animation-iteration-count: 1;
    opacity: 1;
    /* animation-name: react-reveal-609006712851947-1; */
}
.education-item:hover{
background-color:   rgb(245, 101, 57)  ;
opacity: 1
}